.wrapper {
  width: 100%;
  height: 80px;

  border-bottom: 1px solid var(--border-color);

  padding: 0 10px;

  background-color: var(--header-color);

  color: #ffffff;




  a {
      text-decoration: none;
      color: #ffffff;


      &.active {
        font-weight: 900;
      }

      &:hover {
            font-weight: 900;
            color: black;

      }

    }
}
