<p-dialog
  [header]="header"
  [(visible)]="display"
  [modal]="true"
  [closable]="false"
>
  <div class="column gap-1 form-wrapper" [formGroup]="pedidoForm">
    <!-- Data -->
    <div class="row gap-05">
      <span class="price-label">Data</span>
      <input type="text" formControlName="dataPedido" placeholder="ANO-MES-DIA" mask="0000-00-00"/>
    </div>

    <!-- Descricao -->
    <div class="row gap-05">
      <span class="price-label">descricao:</span>
      <input type="text" formControlName="descricao" />
    </div>

    <!-- Valor -->
    <div class="row gap-05">
      <span class="price-label">valor:</span>
      <input type="text" formControlName="valor" placeholder="00,00" mask="separator.2"/>
    </div>

    <!-- Status -->
    <div class="row gap-05">
      <span class="price-label">status:</span>
      <input type="text" formControlName="status" />
    </div>
  </div>

  <!-- Footer with action buttons -->
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      (click)="onConfirm()"
      label="Confirm"
      [class.disabled]="!pedidoForm.valid"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-times"
      (click)="onCancel()"
      label="Cancel"
    ></button>
  </p-footer>
</p-dialog>
